div.template {
    display: none;
}

div.blocks {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}

div.blocks div.block {
    width: 100%;
}

div.pipeline {
    position: fixed;
    margin: 10px;
    top: 0;
    left: 20%;
    width: 20%;
    height: 100%;
}

div.instance {
    position: static;
    width: 100%;
}

div.live {
    position: fixed;
    margin: 10px;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}

div.live div.live {
    position: static;
    height: auto;
    width: 100%;
}