<html>
    <head>
        <meta charset="utf-8">
        <title>MVISIA</title>
        <script type="text/javascript" src="/js/mvisia.js"></script>
        <link rel="stylesheet" href="/css/mvisia.css">
    </head>
<body>
    <div class="blocks">
        <h1>Blocks</h1>
        <ul class="blocks">
            <!-- 
                dynamic generated blocks inserted here 
            -->
            <div class="template">
                <!-- template for dynamic generated blocks-->
                <li class="block">
                    <p class="name">{{Pass Name}}</p>
                    <input type="button" value="Instantiate" class="instantiate">
                </li>
            </div>
        </ul>

    </div>
    <div class="pipeline">
        <h1>Pipeline</h1>
        <div class="control">
            <h2>Controls</h2>
            <ul>
                <input type="button" value="Reset" class="reset">
                <input type="button" value="Save" class="save" disabled="true">
            </ul>
        </div>
        <h2>Blocks</h2>
        <div class="instances">
            <!--
                Dynamic generated instances inserted here 
            -->
            <div class="template">
                <!-- Block template -->
                <div class="instance">
                    <table>
                        <tbody>
                            <tr>
                                <td class="id">{{ID}}</td>
                                <td class="name">{{Block Name}}</td>
                            </tr>
                            <tr>
                                <td>Parameters:</td>
                                <td>
                                    <table>
                                        <tbody class="input-list">
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>Output:</td>
                                <td class="output"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="control">
                        <input type="button" value="Remove" class="remove">
                        <input type="button" value="Up" class="up">
                        <input type="button" value="Down" class="down">
                    </div>
                </div>
                <!-- Input -->
                <div class="input">
                    <table>
                        <tr>
                            <td class="name">{{parameter name}}</td>
                            <td class="editor">{{parameter editor}}</td>
                        </tr>
                    </table>
                </div>
                <!-- Number editor -->
                <div class="number-editor">
                    <input type="number" min="0" max="65536" class="field" placeholder="---" required="true">
                </div>
                <!-- Opaque type editor-->
                <div class="opaque-editor">
                    <select class="opaque"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="live">
        <h1>Live</h1>
        <div class="template">
            <div class="live">
                <h2>{{Stream ID}}</h2>
                <img class="live"/>
            </div>
        </div>
    </div>
</body>
</html>